<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/action.js" type="text/javascript"></script>
    <script src="/image.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css" />
    <title>KonRoBot</title>
    <meta charset="UTF-8">
</head>

<body>
    <div class="header">
        <h1>KonRoBot</h1>
        <p>KonRoBot is a robot car that uses RPI for independent driving or manual control.</p>
    </div>
    <div class="navbar">
        <a href="#" class="active">Home</a>
    </div>
    <div class="row">
        <div class="side">
            <h2>About me:</h2>
            <img id="KonRoBotAvatar" src="/KonRoBot.img" alt="Avatar" class="image">
            <p><strong>Sensor value:</strong> <%=value%></p>
            <p>Positive value is rightSensor</p>
            <p>Negative value is leftSensor</p>
        </div>
        <div class="main">
            <h2>KonRoBot actions:</h2>
            <button id="makeSignal" class="button"><span>Make signal</span></button>
            <button id="drawRectangle" class="button"><span>Draw rectangle</span></button>
            <button id="driveIndependentlyWithManualSensor" class="button"><span>Drive independently with manual sensor </span></button>
            <button id="driveManually" class="button"><span>Drive manually </span></button>
            <button id="driveIndependentlyWithSensor" class="button"><span>Drive independently with sensors </span></button>
            <button id="stop" class="button"><span>Stop </span></button>
            <h2>KonRoBot speed controller:</h2>
            <div>
                <input type="range" min="0" max="100" value="50" class="slider" id="myRange" >
                <p>Speed: <span id="speed"></span></p>
            </div>
        </div>
        <div class="side">
            <h2>Drive manually:</h2>
            <div class="btn-group" style="width:100%">
                <div class="column">
                    <button id="goStraight" style="float: center;">Go straight</button>
                </div>
                <div class="row">
                    <button id="turnLeft" style="float: left">Turn left</button>
                    <button id="stopDM" style="float: center;">Stop</button>
                    <button id="turnRight" style="float: right">Turn right</button>
                </div>
                <div class="column">
                    <button id="goBack" style="float: center">Go back</button>
                </div>
            </div>
            <a href="https://twitter.com/PustelnikKonrad" target="_blank" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com/in/konrad-pustelnik/" target="_blank" class="fa fa-linkedin"></a>
            <a href="https://www.facebook.com/konrad.pustelnik15" target="_blank" class="fa fa-facebook"></a>
        </div>
        </div>
    </div>
    <div class="footer">
        <h3>Copyright 2020 Konrad Pustelnik</h3>
    </div>
</body>
</html>
