[Unit]
Description=Starting webServer
After=network.target

[Service]
Type=idle
WorkingDirectory=/home/pi/KonRoBot/KonRoBot-WebServer/
ExecStartPre=/usr/bin/sudo npm install express ejs multer
ExecStart=/usr/bin/sudo node ./KonRoBot-WebServer.js
RestartSec=60
Restart=always
User=pi

[Install]
WantedBy=multi-user.target